body, html{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    background: #ffffff;
}

.header {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 10px;
    background:#24292e;
    color: white;
    
}

.header .headerleft{
    display: flex;
    flex-direction: row;
    float:left;
}

.header .headerleft .item{
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.header .headerright{
    display: flex;
    flex-direction: row;
    float:right;
}

.header .logo{
    min-width: 30px;
}

.header .logo img {
    width: 30px;
    
}

.content{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 70px
}
.content .title{
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}
.content .text_tittle{
    font-size: 1rem;
    text-align: center;
    padding-top: 30px;
    width: 70%;
    line-height: 1.6;
    padding-bottom: 30px;
}

.content .blueblock{
    background: #032f62;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 30px solid #032f62;
}

.content .blueblock .leftblock .sign{
    margin-left: 30%;
    background: green;
    color: #FFF;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border: 1px solid green;
    font-size: 0.9rem;
    cursor: pointer;
    
}
.content .blueblock .leftblock{
    text-align: left;
    align-content: left;
    align-items: left;
    line-height: 1.2;
    height: 100%;
    widows: 50%;
}

.content .blueblock .rightblock{
    text-align: center;
    align-content: center;
    align-items: center;
    line-height: 2rem;
    height: 100%;
    widows: 50%;
    margin-left: 10%;
    
}

.content .blueblock .rightblock .contact{
    background: skyblue;
    color: #FFF;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border: 1px solid skyblue;
    font-size: 0.9rem;
    cursor: pointer;
    
}

.content .blueblock .leftblock .subtext{
    font-size: 0.7rem;
}

.content .blueblock .leftblock .terms{
    font-size: 0.6rem;
}

.content .blueblock .rightblock .text4{
    color:skyblue;
}

.content .blueblock .rightblock .text5{
    color:skyblue;
}